body{
	width: 100%
	padding:0px;
	margin: 0px auto;
}
.header .search{
	width: 70%;
	height:55%;
	padding-left: 15.8%;
}

.header{
	width: 100%;
	height: 115px;
}
.header .left{
	float: left;
	width: 60%;
	height: 100%;


}
.header .left img{
	float: left;
	width:20%;
	margin-top: 15px;
}

.header .left input#ip1{
	float: left;
	border-radius: 50px;
	margin-top: 8px;
	margin-left: 6%;
	height: 5%;
	width: 20%;
	position:absolute;
	padding: 0px 45px 0px 20px;
	color: #757575;
	font-size: 17px;
	background-color: #FFF;
	background-size: cover;
	letter-spacing: normal;
	word-spacing: normal;
	border:1px solid grey;
	outline: none;


}

.header .left i#ip1{
	padding: 23px;
	position: relative;
	margin-left: 62%;
	color: #db7a18;
	box-sizing: border-box;
	font-size: 23px;


}


.header .right{
	width: 40%;
	float: left;
	height: 100%;

}
.header .right ul{
	padding: 15px;
	list-style-type: none;
	display: flex;
	padding: 5px;

}

.header .right ul li a{
	text-decoration: none;
	color: black;
	padding: 7px;
	font-size: 18px;
}
.header .right ul li a:hover{
	color: #db720f;
}

.header .menu{
	background-color: #2c7abe;
	height: 42%;
	padding-top: 3px;
	padding-bottom: 0px;
	padding-left: 15%;
	clear: right;


}
.header .menu ul{
	padding: 0px;
	margin-top:0px;
	list-style-type: none;
	display: flex;
}
.header .menu ul li{
	padding-top: 12px;
}
.header .menu ul li a:hover{
	background-color: #db720f;
}
.header .menu ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 15px;
}
.main{
	width: 100%;
	height: 100%;
	margin: 0px auto;
	padding: 0px;


}

.main .col_and_row .img img{
	width:200px;
	height:320px; 
	margin: 5px;
	box-sizing: border-box;
	border-radius: 10px;


}
.main .col_and_row {
	padding: 15%;
	box-sizing: border-box;
	display: flex;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 5px;

}
.main .col_and_row .title3{
	text-align: center;
	font-size: 20px;
	box-sizing: border-box;
}
.main .col_and_row .title3:hover{
	color: #ed8815;
	cursor: pointer;
}

.main .col_and_row .chapter{
	box-sizing: border-box;
	text-align: center;
	font-size: 20px;
}
.main .col_and_row .chapter:hover{
	color: #ed8815;
	cursor: pointer;
}
.main  .change{
	border: 2px solid #FFF;
	width: 13%;
	height: 10%;
	padding-left: 2%;
	margin-left: 40%;
	background-color: #db8504;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;

}
.main  .change:hover{
	background-color: #eeb686;
}
.main  .change h2 a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.main .favorite{
	width: 100%;
	padding:0px;
	margin: 0px auto;
}
.main .favorite .like{
	
	padding: 0px 25% 0% 15%;



}
.main .favorite .like .icon{
	display: flex;
}
.main .favorite .like i{
	padding-top: 30px;
	font-size: 22px;
	cursor: pointer;
	color: #db8504;
}
.main .favorite .like h1{
	margin-left: 5px;
	cursor: pointer;
	color:#db8504;
	box-sizing: border-box;
}
.main .favorite .like .row1{
	width: 100%;
	display: flex;

}
.main .favorite .like .row1 .truyen1{
	text-align: center;
	margin: 5px;
}
.main .favorite .like .row1 .png img{
	border-radius: 10px;
	width:203px;
	height:320px; 
	text-align: center;

}
.main .favorite .like .ten {
	font-size: 20px;
	box-sizing: border-box;
}
.main .favorite .like .row2{
	display: flex;
	text-align: center;
}
.main .favorite .like .row2 .png img{
	border-radius: 10px;
	width:204px;
	height:320px; 
}
.main .favorite .like .row2 .truyen1{
	text-align: center;
	margin: 5px;
}
.main .favorite .like .truyen1 .ten:hover{
	cursor: pointer;
	color: #e39102;
}
.main .favorite .like .truyen1 .tap:hover{
	cursor: pointer;
	color: #e39102;
}
.main .full{
	padding: 0px 25% 0% 15%;

}
.main .full .power{
	display: flex;
}
.main .full .power i{
	padding-top: 30px;
	font-size: 22px;
	cursor: pointer;
	color: #16d7f5;
}
.main .full .power h1{
	margin-left: 10px;
	cursor: pointer;
	color:#16d7f5;
	box-sizing: border-box;
}
.main .full .truyenfull .hang1{
	display: flex;
}
.main .full .truyenfull .hang1 .truyen2 .png2 img{
	border-radius: 10px;
	width:204px;
	height:320px;

}
.main .full .truyenfull .hang1 .truyen2 .ten2{
	font-size: 20px;
	box-sizing: border-box;
}

.main .full .hang1 .truyen2{
	text-align: center;
	margin-left: 10px;
}
.main .full .truyenfull .hang2{
	display: flex;
}
.main .full .truyenfull .hang2 .truyen2 .png2 img{
	border-radius: 10px;
	width:204px;
	height:320px;

}
.main .full .truyenfull .hang1 .truyen2 .ten2{
	font-size: 20px;
	box-sizing: border-box;
}
.main .full .truyenfull .hang2 .truyen2 .ten2{
	font-size: 20px;
	box-sizing: border-box;
}
.main .full .truyenfull .hang1 .truyen2 .tap2{
	font-size: 20px;
	box-sizing: border-box;
}
.main .full .truyenfull .hang2.truyen2 .tap2{
	font-size: 20px;
	box-sizing: border-box;
}
.main .full .hang2 .truyen2{
	text-align: center;
	padding-left:10px;
}
.main .full .truyen2 .ten2:hover{
	cursor: pointer;
	color: #e39102;
}
.main .full .truyen2 .tap2:hover{
	cursor: pointer;
	color: #e39102;
}





	





.footer{
	width: 100%;
	height: 100%;
	color: grey;
	display: flex;
	background-color: #fafcfb;

}
.footer .text12{
	padding-top:20px;
	margin: 0px;
	padding-left: 15%;
	font-size: 23px;
}
.footer .right1{
	display: flex;
	width: 5%;
	border: 2px solid #FFF;
	height: 50%;
	text-align: center;
	margin-top: 20px;
	padding-top: 5px;
	border-radius: 5px;
	background-color: #1d89f5;
	font-size: 11px;
	margin-left: 20%;
	color: #FFF;
	cursor: pointer;
}
.footer .right1 i{
	padding-top: 1px;
	padding-right: 5px;



}
.footer .right1 h3{
	margin:0px;
}
.footer .right2{
	border: 1px solid #FFF;
	width: 5%;
	height: 50%;
	text-align: center;
	margin-top: 20px;
	margin-left: 5px;
	border-radius: 5px;
	background-color:#1d89f5; 
	color: #FFF;
	cursor: pointer;
}
.footer .right2 h3{
	margin: 0px;
}
.conten1{
	position: relative;
	display: inline-block;
}
.lee_content1{
	 display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.content1:hover.lee_content1{
	display: block;
}




.title1 {
	padding-left: 15.8%;
	color: #e64c59;
}

